.h, .m-item-hidden {
    display: none;
}

a, .pointer {
    cursor: pointer;
}

.form-horizontal .checkboxfix {
    margin-top: 10px;
}

.form-text-value {
    margin-top: 7px;
}

.m-ajax-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10000;
    display: none;
}
.m-ajax-spinner {
    position: fixed;
    top: 50%;
    right: 50%;
    left: 50%;
    z-index: 100001;
    display: none;
    overflow: visible;
    margin-top: -27px;
    margin-left: -27px;
    padding: 0px;
    min-height: 56px;
    width: 56px;
    background:url('../images/ajax_spinner.gif') no-repeat 12px 12px #0d0d0d;
    opacity: 0.7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
