<?php

return [
    'adminEmail' => 'admin@example.com',
    'supportEmail' => 'admin@example.com',
    'brandName' => 'CRM',
    'applicationName' => 'My CRM',
    'companyName' => 'My Company',
    
    'user.passwordResetTokenExpire' => 3600,

    'dirs' => [
        'image_stored' => '@webroot/images/stored/',
        'image_stored_thumbnails' => '@webroot/images/stored_thumbnails/',
        'image_uploads' => '@webroot/images/uploads/',
        'file_uploads' => '@webroot/files/',
    ],

];
